#overlap {
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
}

#rectangle {
    background: white;
    position: absolute;
    width: 1366;
    bottom: 0;
}

#parent {
    display: inline-block;
    position: relative;
}